nav {
    background-color: $brand-color;
    color: white;
    padding: 20px;
    
    .navigation {
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        
        .navbar a {
            color: white;
            
            &:hover {
                color: yellow;
            }
        }
        
        .site-title {
            font-size: $base-font-size;
            color: white;
            margin: 0;
        }
    }
}