// Colour Palette
$wisteria               : #8e44ad;
$wisteria-light         : lighten($wisteria, 10%);
$wisteria-dark          : darken($wisteria, 10%);
$midnight-blue          : #2c3e50;
$midnight-blue-light    : lighten($midnight-blue, 10%);
$midnight-blue-dark     : darken($midnight-blue, 10%);
$clouds                 : #ecf0f1;

// Font Family
$serif                  : Georgia, serif;
$sans-serif             : Verdana, Geneva, sans-serif;
$mono                   : 'Source Code Pro', Courier, mono;

// Font Weights
$light                  : 300;
$normal                 : 400;
$semibold               : 500;
$bold                   : 700;

// Base Font for HTML
$base-font-size         : 16px;

// Layout widths
$outer-content-width    : 960px;
$inner-content-width    : 740px;
$nav-height             : 62px;

// Paragraph Styles
$paragraph-color        : #383838; // dark grey
$paragraph-size         : 1.063rem; // 17px
$paragraph-line-height  : 1.5em;
$paragraph-margin       : 20px;

// Header Styles
$header-color           : #333333; // dark grey
$header-size            : 2.5rem; // 40px
$header-line-height     : 1.25em;
$header-margin          : $paragraph-margin * 1.2;

// Blockquote Styles
$blockquote-color       : #505050; // light grey
$blockquote-size        : rem(23px);
$blockquote-line-height : 1.5em;
$blockquote-margin      : $paragraph-margin * 1.5;

// Links
$link-color             : #4eaff6;  // blue
$link-color-hover       : darken($link-color, 20%);
$link-color-active      : darken($link-color, 20%);

// hr
$hr-margin              : 30px;

// Type Misc
$border-color           : #DADADA; // light grey

// Breakpoints
$tablet                 : 800px;