main {
    width: 100%;
    max-width: 740px;
    margin: 0 auto;
}

.item {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 400px;
    box-sizing: border-box;
    position: relative;
    
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0.25;
        transition: .5s ease;
        background-color: black;
        z-index: 5;
    }
    
    &:hover .overlay {
        opacity: 0.5;
    }
    
    .item-header {
        position: relative;
        
        .text {
            color: white;
            font-size: 20px;
            position: absolute;
            top: 10%;
            left: 10%;
            //transform: translate(-50%, -50%);
            //-ms-transform: translate(-50%, -50%);
            z-index: 10;

            h2 {
                color: white;
            }
        }
    }
}