.item {
    height:400px;
    box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow:hidden;
    position: relative;
    box-sizing: border-box;
    margin-top: 0;
    
    .item-header {
        margin: 1em 0 0 2em;
        
        h2 {
            margin-bottom: 0;
        }
        
        .icon {
            font-size: 12px;
        }
    }

    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background:rgba(0,0,0,.75);
        text-align:center;
        padding-top: 160px;
        opacity:0;
        -webkit-transition: opacity .25s ease;
        transition: opacity .25s ease;
        
        .plus {            
            
            a {
                font-family:$sans-serif;
                font-weight:400;
                font-size:32px;
                color:rgba(255,255,255,.85);
                
                &:hover {
                    color: white;
                }
            }
        }
    }

    &:hover .overlay {
        opacity:1;
    }
}